:root {
  --clr-body: #fbfbfa;

  --ff-body: 'Domaine Sans Text', 'Untitled Serif', 'Inconsolata', 'Courier New', serif;
  --ff-heading: "Apercu";

  --fw-regular: 300;
  --fw-semi: 400;
  --fw-bold: 500;

  --fs-xs: 0.75rem;
  --fs-s: 0.875rem;
  --fs-m: 1.25rem;
  --fs-l: 1.5rem;

  --spacer-xs: 0.25rem;
  --spacer-s: 0.5rem;
  --spacer-m: 1rem;
  --spacer-l: 2rem;

  --header-height: 40px;
}

/* TEXT ETC */
* {
  font-family: var(--ff-body);
  font-weight: var(--fw-semi);
  font-size: var(--fs-s);
}

body {
  background-color: var(--clr-body);
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-family: var(--ff-heading);
  font-size: var(--fs-m);
}

h2 {
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
}

.lazy-load {
  opacity: 0;
  transition: 1s;
  transform: translateY(1%);
}

.lazy-load-active {
  opacity: 1;
  transform: translateY(0);
}

.page__transition {
  opacity: 0;
}

button {
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}

header {
  background-color: var(--clr-body);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 3;
}

@media (width <=900px) {
  .header__ul {
    display: none;
  }
}

nav {
  display: flex;
  align-items: center;
  position: sticky;
  justify-content: space-between;
  padding: 0rem 1rem;
  height: var(--header-height);
  border-bottom: 1px solid;
  z-index: 2;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

nav h3 a,
nav ul li a {
  display: block;
  text-decoration: none;
}

/* DOT IN MENU */
@media screen and (width >=900px) {
  ul li {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

  li:hover:before {
    content: ".";
    position: absolute;
    top: 0px;
    right: -4px;
  }

  li.active::before {
    content: ".";
    position: absolute;
    top: 0px;
    right: -4px;
  }
}

/* MOBILE MENU */
#mobile__menu {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: -100vh;
  background-color: var(--clr-body);
  transition: all 0.4s ease-in-out;
  z-index: 0;
}

#mobile__menu.open {
  top: 0%;
}

#mobile__menu>ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
}

#mobile__menu ul li a {
  font-size: var(--fs-l);
}

#header__button {
  display: none;
}

@media (width <=900px) {
  #header__button {
    display: block;
    color: black;
  }
}

/* ROW & COLUMNS */
.title {
  display: flex;
  justify-content: space-between;
  font-family: var(--ff-body);
  font-size: var(--fs-300);
  margin-top: var(--spacer-xs);
  text-align: left;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer-m);
  margin-inline: var(--spacer-m);
  padding-bottom: var(--spacer-l);
}

.column {
  display: flex;
  flex: 24%;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (width <=900px) {
  .column {
    flex: calc(50% - 1rem);
  }
}

.column-wedding {
  display: flex;
  flex: 32%;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.3s;
}

@media screen and (width <=900px) {
  .column-wedding {
    flex: 100%
  }
}

.column-wedding img:hover {
  filter: grayscale(1);
  transition: all 0.4s;
}

.column-couple {
  display: flex;
  flex-direction: row;
  row-gap: 1rem;
  max-width: 860px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* IMAGE CLASSES IN WEDDING -> COUPLES */
img.two {
  width: calc(50% - 0.5rem);
}

img.three {
  width: calc(33.3% - 0.5rem);
}

/* TEXT IN WEDDING -> COUPLES */
.couple {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
  text-align: center;
  position: sticky;
  top: -3px;
  margin: 0 auto;
  width: 300px;
  z-index: 3;
  transition: opacity 0.3s ease-out;
}

.couple.hide {
  opacity: 0;
}

.caption {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-inline: 1rem;
  padding-bottom: var(--spacer-xs);
}

/* CONTACT PAGE */
.image-contact {
  max-width: 180px;
}

.contact {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: var(--spacer-m);
}

@media screen and (width <=900px) {
  .contact {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    row-gap: 1rem;
  }
}
